content-monitor-radar.json
{
  "name": "全网内容监控雷达",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时任务触发器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [],
          "array": [
            {
              "name": "monitor_targets",
              "value": [
                {
                  "platform": "xiaohongshu",
                  "user_id": "填写小红书用户ID"
                },
                {
                  "platform": "twitter",
                  "user_id": "填写Twitter用户ID"
                },
                {
                  "platform": "bilibili",
                  "user_id": "填写B站用户ID"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "set-monitor-targets",
      "name": "设置监控目标",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "split-in-batches",
      "name": "循环处理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "=http://rsshub:1200/{{$json.platform}}/user/posted/{{$json.user_id}}"
      },
      "id": "rss-read",
      "name": "RSS读取",
      "type": "n8n-nodes-base.rssRead",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    title: item.json.title || '',\n    url: item.json.link || '',\n    date: item.json.pubDate || '',\n    content: item.json.contentSnippet || item.json.content || ''\n  }\n}));"
      },
      "id": "data-clean",
      "name": "数据清洗",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "定时任务触发器": {
      "main": [[{"node": "设置监控目标", "type": "main", "index": 0}]]
    },
    "设置监控目标": {
      "main": [[{"node": "循环处理", "type": "main", "index": 0}]]
    },
    "循环处理": {
      "main": [[{"node": "RSS读取", "type": "main", "index": 0}]]
    },
    "RSS读取": {
      "main": [[{"node": "数据清洗", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "1",
  "id": "content-monitor-radar",
  "tags": []
}
